.footer {
  background: $black;
  flex-shrink: 0;
  padding: 32px;

  .title {
    color: $white;
  }

  p,
  label,
  a,
  span {
    color: $white-ter;
  }

  .social-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
    .icon {
      color: $white;
      padding: 16px;

      &__linkedin {
        background: $linkedin;
      }

      &__facebook {
        background: $facebook;
      }

      &__instagram {
        background: $instagram;
      }

      &__twitter {
        background: $twitter;
      }
    }
  }

  .logo {
    img {
      border-radius: 8px;
      height: 32px;
    }

    span {
      vertical-align: top;
    }
  }
}
