$button-border: 1px solid transparent;
$button-border-hover: 1px solid transparent;
$button-text-color: $white;

.buttons {
  display: flex;
  margin-top: 16px;

  &.is-aligned-right {
    justify-content: flex-end;
  }

  &.is-spaced-between {
    justify-content: space-between;
  }
}

.button {
  background-color: $grey-darker;
  border: 0;
  &:not(.is-small) {
    @extend %control;
  }

  &.is-small {
    @extend %control-small;
  }

  color: $button-text-color;
  display: inline-block;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &.is-fullwidth {
    width: 100%;
  }

  &.is-large {
    font-size: 20px;
  }

  /*
    Button white
  */

  &.is-white {
    background-color: $white;
    color: #333;
    &:hover {
      background: darken($white, 10%);
      cursor: pointer;
    }
  }

  /*
    Button primary
  */

  &.is-primary {
    background-color: $primary;
    &:hover {
      background: darken($primary, 10%);
      cursor: pointer;
    }
  }

  /*
    Button success
  */

  &.is-success {
    background-color: $success;
    &:hover {
      background: darken($success, 10%);
      cursor: pointer;
    }
  }

  &.is-light {
    background-color: $aqualight;
    color: $dark;
    &:hover {
      background: darken($aqualight, 10%);
      cursor: pointer;
    }
  }

  &.is-aqualight {
    background-color: $aqualight;
    color: $success;
    &:hover {
      background-color: $success;
      color: $white;
      cursor: pointer;
    }
  }

  &.is-info {
    background-color: $info;
    border-color: darken($info, 10%);

    &:hover {
      background: darken($info, 10%);
      cursor: pointer;
    }
  }

  &.is-danger {
    background-color: $danger;
    &:hover {
      background: darken($danger, 10%);
      cursor: pointer;
    }
  }

  /*
    Button warning TODO
  */

  &.is-warning {
    background-color: $warning;
    &:hover {
      background: darken($warning, 10%);
      cursor: pointer;
    }
  }
}

/*
 Page specific styles, not to be used in component
*/

.buttons-page code {
  float: right;
  line-height: 42px;
}
