$background: $white;
$padding: 32px;

.card{
  background: $background;
  border-radius: $radius;
  display: block;
  position: relative;
  &:not(:last-child){
    margin-bottom: 30px;
  }

  .card-content{
    box-sizing: border-box;
    padding: $padding;
  }
}
