$input-bg: $white-ter;

.field{
  &:not(:last-child){
    margin-bottom: 32px;
  }

  &:hover .icon{
    color: $black;
    display: block;
  }

  input,
  textarea,
  select{
    box-sizing: border-box;
  }

  .icon{
    color: $grey;
    line-height: 42px;
    padding: 0 10px;
    position: absolute;
     ~  .input{
      padding-left: 32px;
    }
  }
}

.forms-page .title.is-2{
  margin-top: 32px;
}

.form{
  margin-top: 32px;
  label{
    display: block;
    margin-bottom: 8px;
  }
}

.input, .select{
  background: $input-bg;
  border-color: $grey-lighter;
  min-width: 100px;
  width: 100%;
  
  &:hover{
    border: 1px solid $grey-dark;
  }

  &:focus{
    border: 1px solid $primary;
  }

  &:not(.is-small){
    @extend %control;
  }

  &.is-small{
    @extend %control-small;
  }

  ~ .message{
    color: $grey;
    font-size: 12px;
    margin-top: 6px;
    &.is-danger{
      color: $danger;
    }

    &.is-info{
      color: $primary;
    }
  }
}


.textarea{
  background: none;
  border: 1px solid $grey-dark;
  border-radius: 8px;
  min-height: 80px;
  min-width: 200px;
  outline: 0 !important;
  padding: 8px;
  &:hover{
    border: 1px solid $black;
  }

  &:focus{
    border: 1px solid $primary;
  }
}

.select{

}

.control{
  display: inline-block;
  label{
    display: inline-block;
  }
  
 input{
    display: inline-block;
  }
}
