.sidebar{
  .logo{
    background-color: $grey-darker;
    border-radius: 4px;
    height: 44px;
    margin: 8px;
    padding: 2px;
    width: 44px;
  }

  .menu__item  .fa-chevron-up{
    display: none;
  }

   .menu__item  .fa-chevron-down{
    display: inline-block;
  }
  
   .menu__item:hover .fa-chevron-up{
    display: inline-block;
  }
  
   .menu__item:hover .fa-chevron-down{
    display: none;
  }
  
   .menu__item:hover .dropdown{
    display: block;
  }

  .menu__item{
    display: block;
  }

   .menu__item a{
    color: $grey-darker;
    display: block;
    padding: 12px 0;
    text-decoration: none;
  }

   .menu__item a:hover{
    color: $primary
  }
  
   .dropdown{
    padding: 0 8px 8px;
  }
  
   .dropdown{
    display: none;
  }
} 

.vertical-nav{
  background: $black-ter;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 60px;
  .menu__item {
    display: block;
    a {
      border-left: 4px solid transparent;
      color: $grey-lightest;
      color: $white;
      display: block;
      padding: 5px;
      padding: 16px 0;
      text-align: center;
      width: calc(100% - 4px);
    }
  }

  .menu__item--active{
    @extend .menu__item;
    a{
      border-color: $primary;
      color: $primary;
    }
  }

  .vertical-nav__user{
    bottom: 16px;
    height: 60px;
    left: 0;
    padding: 12px;
    position: absolute;
    width: 60px;
    img {
      border-radius: 100%;
    }
    
  }
  }

  

body.sidebar-open{
  padding-left: 60px;
}
