.slider {
  .slider-item .image{
    margin: 0;
  }

  .slider-image{
    border-radius: 4px;
    margin-bottom: 16px;
    overflow: hidden;
  }

  .slider-items{
    display: flex;
    gap: 0;
    list-style: none;
    margin-left: -2px;
    margin-right: -2px;
    padding: 0;
    text-decoration: none;
  }

  .slider-item {
    border: 2px solid transparent;
    cursor: pointer;
    opacity: .8;
    overflow: hidden;
    transition: .14s ease-in;
    width: 100%;
    &.is-active{
      border-color: $primary;
      opacity: 1;
    }

    &:first-child{
      border-bottom-left-radius: 40px;
      border-top-left-radius: 40px;
    }

    &:nth-child(5){
      border-bottom-right-radius: 40px;
      border-top-right-radius: 40px;
    }

    &:hover{
      opacity: .9;
    }

    img{
      display: block;
    }
  }
}
