.tabs{
  display: flex;
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
}

.tabs .tab{
  background: $grey-lightest;
  border-left: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
  border-top: 1px solid $grey-light;
  padding: 16px;
  width: 50%;
}

.tabs .tab:not(.is-active){
  border-bottom: 1px solid $grey-light;
}

.tabs .tab.is-active{
  background: none;
}

.tab-content{
  border-bottom: 1px solid $grey-light;
  border-left: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
  padding: 16px;
}

.tab-content .row{
  margin: 0;
}

.tab-content .column{
  padding: 0;
}
