.tags {
  display: flex;
}

.tag {
  font-weight: 600;
  &:not(.is-separator) {
    border-radius: 8px;
  }
  height: 35px;
  padding: 0.5rem;
  &.is-primary {
    background-color: $primary;
    color: #fff;
  }

  &.is-aqualight {
    background: #c9f7f4;
    color: $success;
  }

  &.is-yellow {
    background-color: $warning;
    color: #000;
  }

  &.is-black {
    background-color: $black;
    color: $white;
  }

  &.is-separator {
    overflow: hidden;
    padding-right: 1.5rem;
    &:after {
      background-color: $grey-lighter;
      content: " ";
      height: 25px;
      position: absolute;
      right:  -15px;
      top: 50%;
      transform: translateY(-51%) rotate(45deg);
      width: 25px;
    }
  }
}
