  <header class="header">
    <a href="index.html">
        <span class="logo__page-title">
            Sandbox
        </span>
    </a>
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item--active">
                <a href="index.html">Home</a>
            </li>
            <li class="menu__item">
                <a href="projects.html">Projects</a>
            </li>
            <li class="menu__item">
                <a href="cv.html">Curriculum Vitae</a>
            </li>
            <li class="menu__item">
                <a href="mailto:j.costa.3394@gmail.com" class="button is-success is-small" style="margin-left:16px;">Contact me</a>
            </li>
        </ul>
    </nav>
  </header>
  