{% extends "skeleton.html" %}

{% set title = 'Curriculum Vitae' %}

<!-- Main content -->
{% block content %}

<main class="cv-page margin-t--5r">
    <div class="container is-small">
        <div class="row is-xl">
            <div class="column has-background-white">
                <div class="job-experience">
                    <span class="icon">
                        <i class=""></i>
                    </span>
                    <h4 class="title is-4">EXPERIENCE</h4>
                    <div class="box">
                        <h5 class="subtitle">
                            2019 - present
                        </h5>
                        <h6 class="title is-5">
                            Beamian
                        </h6>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, delectus.
                        </p>
                    </div>
                    <div class="box">
                        <h5 class="subtitle">
                            2015 - 2019
                        </h5>
                        <h6 class="title is-5">
                            Bindtuning
                        </h6>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, delectus.
                        </p>
                    </div>
                </div>

                <div class="knowledge">
                    <span class="icon">
                        <i class=""></i>
                    </span>
                    <h4 class="title is-4">Knowledge</h4>

                    <ul class="list-unpadded">
                        <li>
                            Frontend development
                        </li>
                        <li>
                            UI/UX Design
                        </li>
                        <li>
                            Agile methodologies
                        </li>
                    </ul>
                </div>
                <div class="references">

                    <span class="icon">
                        <i class=""></i>
                    </span>

                    <h4 class="title is-4">Refrences</h4>

                    <div class="box">
                        <h5 class="subtitle">
                            Sr. Director
                        </h5>
                        <h6 class="title is-5">
                            Mr. Robert Long
                        </h6>
                        <p>
                            <span>Phone:</span>
                            <span>9102323</span>
                        </p>
                        <p>
                            <span>Email:</span>
                            <span>robert@gmail.com</span>
                        </p>
                    </div>
                </div>
                <div class="interests">

                    <span class="icon">
                        <i class=""></i>
                    </span>

                    <h4 class="title is-4">Interests</h4>
                    <div class="row is-multiline">
                        <div class="column is-3">
                            <span class="icon">
                                <i class="fas fa-music"></i>
                            </span>
                            <h6 class="title is-6">
                                Music
                            </h6>
                        </div>
                        <div class="column is-3">
                            <span class="icon">
                                <i class="fas fa-route"></i>
                            </span>
                            <h6 class="title is-6">
                                Travel
                            </h6>
                        </div>
                        <div class="column  is-3">
                            <span class="icon">
                                <i class="fas fa-biking"></i>
                            </span>
                            <h6 class="title is-6">
                                Cycling
                            </h6>
                        </div>
                        <div class="column">
                            <span class="icon">
                                <i></i>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column has-background-grey-lighter">
                <h1 class="title is-1">
                    John <br> <b>Smith</b>
                </h1>
                <span class="tag">UI/UX Designer</span>
                <div class="row is-small">
                    <div class="column">
                        <a href="">
                            <span class="icon">
                                <i></i>
                            </span>
                            <span>
                                johnsmith
                            </span>
                        </a>
                    </div>
                    <div class="column">
                        <a href="">
                            <span class="icon">
                                <i></i>
                            </span>
                            <span>
                                johnsmith
                            </span>
                        </a>
                    </div>
                    <div class="column">
                        <a href="">
                            <span class="icon">
                                <i></i>
                            </span>
                            <span>
                                johnsmith
                            </span>
                        </a>
                    </div>
                </div>
                <div class="skills" style="margin-top: 2rem;">
                    <span class="tag is-separator is-black">
                        01
                    </span>
                    <h4 class="title is-4">Skills</h4>
                    <div class="box">
                        <div class="is-flex">
                            <span class="width--6r">Photoshop</span>
                            <span>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-grey"></i>
                            </span>
                        </div>
                        <div class="is-flex">
                            <span class="width--6r">Illustrator</span>
                            <span>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-grey"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-grey"></i>
                            </span>
                        </div>
                        <div class="is-flex">
                            <span class="width--6r">HTML</span>
                            <span>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-grey"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-grey"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-grey"></i>
                            </span>
                        </div>
                        <div class="is-flex">
                            <span class="width--6r">CSS</span>
                            <span>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-grey"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-grey"></i>
                            </span>
                        </div>
                        <div class="is-flex">
                            <span class="width--6r">Wordpress</span>
                            <span>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-grey"></i>
                            </span>
                        </div>
                        <div class="is-flex">
                            <span class="width--6r">JQuery</span>
                            <span>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-black"></i>
                                <i class="fas fa-circle has-text-size-7 has-text-grey"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="education" style="margin-top: 1.5rem;">

                    <h4 class="title is-4">Education</h4>
                    <div class="box">
                        <h5 class="subtitle is-6">2014-Present</h5>
                        <h5 class="title is-5">Master IT</h5>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, hic!</p>
                    </div>
                    <div class="box">
                        <h5 class="subtitle is-6">2014-Present</h5>
                        <h5 class="title is-5">Master IT</h5>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, hic!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    body {
        background: url('images/background.jpg');
        background-size: cover;
        background-position: center center;
    }

    .tag.is-separator {
        position: absolute;
        margin-left: -4rem;
    }
</style>

{% endblock %}

{% block js %}
{% endblock %}