{% extends "layout.html" %}

{% set title = 'Welcome' %}
{% set page = 'home' %}

{% block content %}

<section class="hero">
  <div class="container">
    <h1 class="subtitle">José Costa</h1>
    <h2 class="title is-1">
    Frontend Web Developer based in Porto. 
    <br>
    Some bullshit.
    </h2>
  </div>
</section>

<div class="row">
  <div class="column">
    <img src="" alt="">
  </div>
  <div class="column">
    <h1>asd</h1>
  </div>
</div>
{% endblock content %}

{% block js %}
{% endblock %}
