{% extends "layout.html" %}

{% set title = 'Projects' %}

{% block content %}
<section class="projects-section">
  <div class="container">
    <h3 class="title is-3">Projects</h3>
    <div class="row is-multiline">
      <div class="column is-4">
        <a href="https://github.com/jcosta33/confessions" class="has-text-black">
          <figure class="image">
            <img
              src="https://images.unsplash.com/photo-1559028006-448665bd7c7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"
              alt="Project image" class="has-radius">
          </figure>
          <h5 class="title is-5 margin-t--05">
            Project
          </h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, vel.</p>
        </a>
      </div>
      <div class="column is-4">
        <a href="https://github.com/jcosta33/confessions" class="has-text-black">
          <figure class="image">
            <img
              src="https://images.unsplash.com/photo-1559028006-448665bd7c7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"
              alt="Project image" class="has-radius">
          </figure>
          <h5 class="title is-5 margin-t--05">
            Project
          </h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, vel.</p>
        </a>
      </div>
      <div class="column is-4">
        <a href="https://github.com/jcosta33/confessions" class="has-text-black">
          <figure class="image">
            <img
              src="https://images.unsplash.com/photo-1559028006-448665bd7c7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"
              alt="Project image" class="has-radius">
          </figure>
          <h5 class="title is-5 margin-t--05">
            Project
          </h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, vel.</p>
        </a>
      </div>
      <div class="column is-4">
        <a href="https://github.com/jcosta33/confessions" class="has-text-black">
          <figure class="image">
            <img
              src="https://images.unsplash.com/photo-1559028006-448665bd7c7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"
              alt="Project image" class="has-radius">
          </figure>
          <h5 class="title is-5 margin-t--05">
            Project
          </h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, vel.</p>
        </a>
      </div>
      <div class="column is-4">
        <a href="https://github.com/jcosta33/confessions" class="has-text-black">
          <figure class="image">
            <img
              src="https://images.unsplash.com/photo-1559028006-448665bd7c7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"
              alt="Project image" class="has-radius">
          </figure>
          <h5 class="title is-5 margin-t--05">
            Project
          </h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, vel.</p>
        </a>
      </div>
      <div class="column is-4">
        <a href="https://github.com/jcosta33/confessions" class="has-text-black">
          <figure class="image">
            <img
              src="https://images.unsplash.com/photo-1559028006-448665bd7c7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80"
              alt="Project image" class="has-radius">
          </figure>
          <h5 class="title is-5 margin-t--05">
            Project
          </h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, vel.</p>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}