.hero {
  background: $black;
  clear: both;
  margin: 0;
  padding: 4rem 1rem;
  position: relative;
  .title {
    color: $white;
  }

  .subtitle {
    color: $grey-lightest;
  }

  .overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
