.hero {
  position: relative;
  padding: 4rem  1rem;
  margin:0;
  clear: both;
  background:$black;
  .title{
    color:$white;
  }
  .subtitle{
    color: $grey-lightest;
  }

  .overlay{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
  }
}
