.icon {
  border-radius: 8px;
  display: inline-block;
  padding: 8px;
  i{
    display: block;
  }

  &.is-hoverable{
    cursor: pointer;
    transition: .2s ease;
  }

  &.is-green {
    background: $aqualight;
    color: $green;
    &.is-hoverable{
      &:hover{
        background: $green;
        color: $aqualight;
      }
    }
  }

  &.is-red {
    background: $quartz;
    color: $red;
    &.is-hoverable{
      &:hover{
        background: $red;
        color: $quartz;
      }
    }
  }

  &.is-blue {
    background: $ivory;
    color: $blue;
    &.is-hoverable{
      &:hover{
        background: $blue;
        color: $ivory;
      }
    }
  }

}
