// Colors

$black: #00071d !default;
$black-bis: #0b1033 !default;
$black-ter: #05263b !default;

$grey-darker: #3e5460 !default;
$grey-dark: #575e67 !default;
$grey: #757d88 !default;
$grey-light: #ada9bb !default;
$grey-lighter: #cad0d9 !default;
$grey-lightest: #e5e8ed !default;

$white: hsl(0, 0%, 100%) !default;
$white-bis: #fafcfd !default;
$white-ter: #f5f7fa !default;

$orange: #ff7a5c !default;
$yellow: #fbbb24 !default;
$yellow-lighter: #ffe400 !default;
$green: #00c092 !default;
$turquoise: #60fbd5 !default;
$aqua: #00afb9 !default;
$blue: #3297c2 !default;
$blue-dark: #0975c7 !default;
$blue-darker: #002f83 !default;
$blue-darkest: #030e5e !default;
$purple: #7854f7 !default;
$red: #f4253b !default;
$magenta: #cc088a !default;
$fuchsia: #ff3781 !default;
$navi: #003a6b !default;
$midnight: #0c6980 !default;
$beetle: #afcccf !default;
$serenity: #c4dbe0 !default;
$plum: #938bb7 !default;
$clot: #970c10 !default;
$crimson: #710117 !default;
$coral: #cf6856 !default;
$mimosa: #ffd780 !default;
$beige: #e8d5b5 !default;
$aqualight: #e2f1f2 !default;
$ivory: #edf1e9 !default;
$cream: #fffade !default;
$alice: #fbf7ff !default;
$quartz: #f6e2e3 !default;
$soft: #f5f7fe !default;

$primary: $orange;
$success: $green;
$danger: $red;
$warning: $yellow;
$info: $blue;
$dark: $grey-darker;

$linkedin: #0e76a8;
$facebook: #4267b2;
$instagram: #8a3ab9;
$twitter: #1da1f2;

$text: $dark;

// Typography

$family-sans-serif:  'Karla', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif, BlinkMacSystemFont, -apple-system, !default;
$family-sans:  'Roboto', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif, BlinkMacSystemFont, -apple-system, !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.85rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;

// Spacing

$block-spacing: 1.5rem !default;

$block-spacing-sm: 1rem !default;

$block-spacing-xs: .5rem !default;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;

// 960px container + 4rem
$desktop: 960px + 2 * $gap !default;

// 1152px container + 4rem
$widescreen: 1152px + 2 * $gap !default;
$widescreen-enabled: true !default;

// 1344px container + 4rem
$fullhd: 1344px + 2 * $gap !default;
$fullhd-enabled: true !default;

// Miscellaneous

$easing: ease-out !default;
$radius-small: 4px !default;
$radius: 8px !default;
$radius-large: 12px !default;
$radius-rounded: 290486px !default;
$speed: 86ms !default;
